<form #form="ngForm" (ngSubmit)="handleSubmit(form)">
  Pokemon Name : 
  <input type="text" [(ngModel)]="pokemon.name" name="name" #pokemonName="ngModel"/>
  <div *ngIf="pokemonName.touched">Invalid</div>
  <label>
    <input type="radio" name="isCool" [value]="true" [(ngModel)]="pokemon.isCool"/>
    Pokemon is Cool
  </label>
  <label>
    <input type="radio" name ="isCool" [value]="false" [(ngModel)]="pokemon.isCool" (ngModelChange)="toggleIsCool($event)"/>
    Pokemon is Not Cool
  </label>
  <br>




  <label>
    <input type="checkbox" name="acceptTerms" [(ngModel)]="pokemon.acceptTerms"/>Accept Terms & Conditions
  </label>

  <select name="pokemonType" [(ngModel)]="pokemon.type">
    <option *ngFor="let type of pokemonType" [ngValue]="type.value">{{ type.value }}</option>
  </select>
  
  <button type="submit" [disabled]="!form.valid" >Save</button>
</form>

MODEL : {{pokemon|json}}
FORM  : {{form.value | json}}